:root {
  --highlight-color: #f7f7f7;
  --target-color: #efffcf;
  --primary-color: #00668f;
  --avatar-size: 6rem;
}

body {
  font-family: Helvetica Neue, Helvetica;
}

a {
  color: black;
  text-decoration: none;
}

main {
  margin: 0 auto;
  max-width: 50rem;
  padding: 0 2rem;
}


ul {
  display: grid;
  list-style: none;
  margin: 0 0 1.2rem;
  padding: 0;
}

ul li {
  padding: 0.6rem 0;
}

li > a {
  display: grid;
  align-items: center;
  column-gap: 1.6rem;
  padding: 0.8rem 1.6rem;
  grid-template-columns: var(--avatar-size) auto;

  color: black;
  border: 1px solid rgba(0, 0, 0, 0.1);
  text-decoration: none;
  border-radius: 0.6rem;
}

li > a:hover, li > a:focus {
  background: var(--highlight-color);
}

li:target > a {
  animation: background-fade 2500ms ease-in-out;
}

li div {
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

li h2 {
  margin: 0 0 0.6rem;
}

li h3 {
  margin: 0;
  font-size: 1rem;
  font-weight: 400;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

button {
  font-size: 1.2rem;
  color: white;
  background: var(--primary-color);
  border: none;
  padding: 0.6rem 1.2rem;
  border-radius: 0.4rem;
  cursor: pointer;
}

article {
  margin: 1.2rem 0;
}

article p {
  font-weight: 400;
}

.avatar {
  width: var(--avatar-size);
  height: var(--avatar-size);
  border-radius: 100%;
}

.controls {
  display: flex;
  justify-content: center;
  margin: 0 0 2rem;
}

@keyframes background-fade {
  0% {
    background: var(--target-color);
  }

  100% {
    background: transparent;
  }
}